body {
  margin-top: 50px;
    font-family: sans-serif;
}

.navbar .brand { max-height: 40px; overflow: visible;padding-top: 0;padding-bottom: 0; }
#message {
    color: #337AB7;
    text-decoration: underline;
    cursor: pointer;
}
#catstyle {
    background-color: #F1F8FB;
    border-radius: 3px;
    color: #black;
    font-size: 16px;
    padding: 3px;
    display:inline-block;
    border: 1px solid #BBCADC;
}


#category {
    line-height: 1.2em;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    word-wrap: break-word;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 3px;
    display: inline-block;
    margin-right: 5px;
}

#cattitle {
    color: #337AB7;
    cursor: pointer;

}

#feed img{
  margin:20px 10px 10px 0px;
}

.feed_post{
  border-bottom:1px solid #eee;
  margin-bottom:40px;
}

.feed_post h2 a, .feed_post h2 a:hover{
  color:#777;
  text-decoration: none;
}
.feed_post h2 a:hover{
  color:#444;
}
#progress {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: -6px;
    width: 1%;
    height: 2px;
    background: #337AB7;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-transition: width 500ms ease-out, opacity 400ms linear;
    -ms-transition: width 500ms ease-out, opacity 400ms linear;
    -o-transition: width 500ms ease-out, opacity 400ms linear;
    -webkit-transition: width 500ms ease-out, opacity 400ms linear;
    transition: width 500ms ease-out, opacity 400ms linear;
}

#progress dd,
#progress dt {
    position: absolute;
    top: 0;
    height: 2px;
    -moz-box-shadow: #337AB7 1px 0 6px 1px;
    -ms-box-shadow: #337AB7 1px 0 6px 1px;
    -webkit-box-shadow: #337AB7 1px 0 6px 1px;
    box-shadow: #337AB7 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#progress dt {
    opacity: .6;
    width: 180px;
    right: -80px;
    clip: rect(-6px, 90px, 14px, -6px);
}

#progress dd {
    opacity: .6;
    width: 20px;
    right: 0;
    clip: rect(-6px, 22px, 14px, 10px);
}

.post_header{
  padding:10px;
  text-align:center;
}

.label a{
  color:white;
}

.navbar-default{
  background-image:none;
  background:white;
}

.navbar-form .input-group-addon {
  background-color: #fff;
  border-radius: 0px;
  border-right:0px;
}

.navbar-form .form-control {
  border-radius: 0px;
  border-left: 0px;
}
