h2 {
    margin-top: 3px;
    margin-bottom: 1px;
}

.newlogo {
    font-size: 16px;
    margin-right: 10px;

}

#catstyle {
    background-color: #F1F8FB;
    border-radius: 3px;
    color: #black;
    font-size: 16px;
    padding: 3px;
    display:inline-block;
    border: 1px solid #BBCADC;
}

#cattitle {
    color: #337AB7;
    cursor: pointer;

}

.newlogo a{
    text-decoration: none;
    color: black;
}

#feed {
    margin-top: 45px;
}

#github {
    margin-left: 10px;
    margin-bottom: 5px;
}
#message {
    color: #337AB7;
    text-decoration: underline;
    cursor: pointer;
}

#SiteHeader {
    background: none repeat scroll 0% 0% #FFF;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 52px;
    box-sizing: border-box;
    z-index: 700;
    font-size: 14px;
    border-bottom: 1px solid #DDD;
    box-shadow: 0px 3px 2px -2px rgba(200, 200, 200, 0.2);
}

#box {
    box-sizing: border-box;
    position: relative;
    height: 50px;
    width: 1020px;
    margin: 0px auto;
}



.home {
    color: #999;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.home a {
    text-decoration: none;
    color: #999;

}

#homelogo {
    margin-left: 5px;
    color: #999;
}

#search_input {
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 0px;
    padding: 5px 5px 5px 26px;
    float: none;
    font-size: 15px;
    line-height: normal;
    border: 0px none;
    background: url("//qsf.is.quoracdn.net/-0301a816dcf97f2c.png") no-repeat scroll 8px center / 13px 13px #EEE;
    width: 450px;
}

#logotitle {
    font-size: 24px;
    font-family: 'Hoefler Text', 'Times New Roman', 'Times New Roman', Times, serif;
}

#maxwidth {
    max-height: 350px;
    border-style: solid;
    border-width: 1px;
    border-color: #B8B894;
}

#category2 {
    line-height: 1.2em;
    font-size: 14px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    word-wrap: break-word;
    background-color: #808393;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
}

#category {
    line-height: 1.2em;
    font-size: 12px;
    font-weight: 500;
    color: #414444;
    cursor: pointer;
    word-wrap: break-word;
    border-radius: 6px;
    text-decoration: underline;
    padding-right: 5px;
    margin-right: 2px;
}

#logo {
    position: relative;
    left: 200px;
    top: 10px;
    margin: 5px;
}

article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}

#progress {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: -6px;
    width: 1%;
    height: 2px;
    background: #337AB7;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-transition: width 500ms ease-out, opacity 400ms linear;
    -ms-transition: width 500ms ease-out, opacity 400ms linear;
    -o-transition: width 500ms ease-out, opacity 400ms linear;
    -webkit-transition: width 500ms ease-out, opacity 400ms linear;
    transition: width 500ms ease-out, opacity 400ms linear;
}

#progress dd,
#progress dt {
    position: absolute;
    top: 0;
    height: 2px;
    -moz-box-shadow: #337AB7 1px 0 6px 1px;
    -ms-box-shadow: #337AB7 1px 0 6px 1px;
    -webkit-box-shadow: #337AB7 1px 0 6px 1px;
    box-shadow: #337AB7 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#progress dt {
    opacity: .6;
    width: 180px;
    right: -80px;
    clip: rect(-6px, 90px, 14px, -6px);
}

#progress dd {
    opacity: .6;
    width: 20px;
    right: 0;
    clip: rect(-6px, 22px, 14px, 10px);
}

@media (max-width: 500px) {
    body {
        background: red;
    }
}